.food-list {
    display: flex;
    gap: 10px; /* space between items */
    overflow-x: auto; /* horizontal scroll */
    padding: 5px;

    /* scroll bar */
    scrollbar-width: thick;
    scrollbar-color: #d9d9d9 transparent;
}
