.main-top {
    /* Style */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px 15px 20px;
}

.filter.freshness {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

button.toggle.freshness {
    width: fit-content;
    height: 28px;
    border-radius: 8px;
    background: #fefffe;
    cursor: pointer;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    gap: 4px;
    padding: 0 8px;
    border: 0;
}

.freshness-dot {
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    flex-shrink: 0;
}

.freshness-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

.filter.search {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#search-bar-food {
    height: 38px;
    width: auto;
    min-width: 25vw;
    padding-left: 10px;
    border-radius: 15px;
    border: 0;
}

.add-item-button {
        /* Layout */
    width: clamp(26px, 8vw, 38px);
    height: clamp(26px, 8vw, 38px);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    padding: 0;

    /* Style */
    border: none;
    background-color: #b7cfb1;
}


.add-item-button:hover {
    box-shadow: 0 2px #c8c8c8;
    transform: translateY(-1px);
}

.add-item-button:active {
    box-shadow: 0 0;
    transform: translateY(1px);
}

.add-item-button-icon {
    width: 55%;
    height: 55%;
    color: #fefffe;
}

.filter.sort {
    /* Style */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.sort-words {
    font-size: 12px;
}

#sort-select {
    border: 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: -0.5px;
    height: 38px;
    border-radius: 15px;
    width:max-content;
    background-color: #fefffe;
    padding: 0 10px 0 10px;
    cursor: pointer;

    /* Remove dropdown arrow */
    appearance: none;
    -webkit-appearance: none;  /* Safari */
    -moz-appearance: none;     /* Firefox */
}

.sort-select-option {
    text-align: center;
}

.sort-toggle {
    /* Style */
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.arrow-up.active,
.arrow-down.active {
    color: black;
}

.arrow-up,
.arrow-down {
    color: #c3c3c3;
    font-size: 11px;
}

.freshness-text,
#search-bar-food,
.sort-words,
.sort-select-option {
    font-family: Inter;
}

.add-foodgroup-button {
    width: 95vw;
    height: 5vh;

    border-radius: 31.5px;
    border: 0;
    background: #b7cfb1;
    margin: 10px 15px 10px 45px;

    /* Typography */
    color: #fefffe;
    text-align: center;
    font-family: Inter;
    font-size: 2vh;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 100% */
    text-transform: uppercase;
}

.add-foodgroup-button:hover {
    box-shadow: 0 2px #7b8b77;
    transform: translateY(-1px);
}

.add-foodgroup-button:active {
    box-shadow: 0 0;
    transform: translateY(1px);
}
