
#header-background {
    /* Layout */
    height: clamp(50px, 12vh, 80px);
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    
    display: flex;
    flex-direction: row;

    /* Style */
    background-color: #FEFFFE;
}



#header-left, #header-middle, #header-right {
    /* Layout */
    display: flex;
    align-items: center; /* vertically center content */
    flex-direction: row;

    gap: 1rem;
}


#header-title, #header-date {
  width: auto; /* hug content */
  display: flex;

}


#header-icon, #header-profile {
    /* Layout */
    width: 30px;
    height: 30px;


    /* Style */
    background: #D9D9D9;
}

#header-title, #header-date {
    /* Layout */
    justify-content: center;


    /* Style */
    color: #000;
    font-family: Inter;
    font-size: clamp(20px, 4vh, 30px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 60% */    
}




